<h2>{{title}}</h2>
<div class ="form-custom">
    <form>
        <label for="name" class= "form-label">Nombre:</label>
        <input class= "form-control" type="text" name="name" [(ngModel)]="inputName">
        <label class= "form-label" for="author">Autor:</label>
        <input class= "form-control" type="text" name="author" [(ngModel)]="inputAuthor">
        <label class= "form-label" for="genre">Género:</label>
        <input class= "form-control" type="text" name="genre" [(ngModel)]="inputGenre">
        <label class= "form-label" for="year">Año publicacion:</label>
        <input class= "form-control" type="number" name="year" [(ngModel)]="inputYear">
        <label class= "form-label" for="description">Descripción:</label>
        <input class= "form-control" type="text" name="description" [(ngModel)]="inputDescription">
        <input type="submit" class="btn btn-primary" (click)="addBook()">        
    </form>
</div>